h1 {
  color: #690303;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Kavivanar', cursive;
}

body {
  background-color: black;
}

section {
  display: flex;
  justify-content: center;
  height: 1000px;
  .box {
    display: flex;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 454px;
    img {
      border: 2px solid black;
      border-radius: 20px;
      opacity: 0.5;
      transition: 0.25s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    div {
      width: 400px;
      margin-left: 15px;
    }
  }
}

.genres {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.info {
  margin-top: 10px;
}

.title {
  margin-top: 10px;
}

.link {
  top: 20px;
  animation-name: colorChanger ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.infoBox {
  height: 450px;
  transition: 0.25s ease-in-out;
  background-color: black;
  opacity: 0.5;
  border: 2px solid black;
  border-radius: 20px;
  &:hover {
    opacity: 1;
  }
}

@keyframes colorChanger
{
  0% {color: #690303;}
  50% {color: red;}
  100% {color: #690303;}
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #3b3b3b;
  color: #ffffff;
};
